* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f0e8;
  color: #2f2f2f;
  line-height: 1.6;
}

/* HERO */
.hero {
  background: 
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("/imageshero.jpg");

  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;

  min-height: 111vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 120px 20px;
}
.hero-content {
  max-width: 800px;
  margin: 0 auto;
align-items: baseline;
}

.hero h1 {
  font-size: 3.2rem;
  margin-bottom: 12px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 24px;
}

.hero-btn {
  display: inline-block;
  background: #caa472;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 999px;
  font-weight: bold;
  transition: background 0.2s ease, transform 0.2s ease;
}

.hero-btn:hover {
  background: #b89263;
  transform: translateY(-2px);
}

/* MAIN SECTIONS */
main section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
}

h2 {
  font-size: 2.5rem;
  color: #2f5b48;
  margin-bottom: 20px;
  text-align: center
}

/* ABOUT */
#about {
  padding-top: 0;
  padding-bottom: 0px;
}

#about p {
  max-width: fit-content;
  line-height: 1.4;
  font-size: 1.5rem;
}

/* SERVICES */
#services {
  padding-top: 5px;
  align-items: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 25px;
}

.card {
  background: #f8f4ec;
  padding: 0px 20px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #2f5b48;
  font-size: 1.25rem;
}

.price {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #caa472;
}

.pricing-note {
  margin-top: 24px;
  font-size: .76rem;
  color: #555;
  text-align: center;
}

/* CONTACT */
#contact {
  background: #e7dfd2;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 20px 20px;
  border-radius: 0;
  text-align: center;
}

#contact h2 {
  margin-top: 0;
}

#contact p {
  font-size: 1.1rem;
  margin: 10px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    min-height: 45vh;
    padding: 50px 20px;
  }

  .hero h1 {
    font-size: 2.3rem;
  }

  .hero p {
    font-size: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  #contact {
    padding: 80px 20px;
  }
}
